html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 126px 0;
}

.menu-list {
    width: 484px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.nav-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 14px;
    color: #222222;
    transition: color 150ms linear;
    line-height: 27px;
}

.nav-link:hover {
    color: #fedd6c;
}

/* MAIN */

.title-services {
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 35px;
    padding-bottom: 12px;
}

.subtitle {
    text-align: center;
    color: #777777;
    font-family: serif;
    font-style: italic;
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 74px;
}

.services-articles-title {
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 18px;
    padding: 24px 0 18px 0;
}

.services-articles-description {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #777777;
    /* padding-bottom: 18px; */
}

article {
    width: 290px;
    display: inline-block;
    margin-right: 30px;
}

article:last-child {
    margin-right: 0;
}

.article::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(254, 209, 54);
    border-radius: 50%;
    width: 72px;
    height: 71px;
    transform: translateX(150%);
}

.basket-icon::before {
    background-image: url(../img/Icon-Basket.png);
}

.laptop-icon::before {
    background-image: url(../img/Icon-Laptop.png);
}

.locked-icon::before {
    background-image: url(../img/Icon-Locked.png);
}

.services-articles {
    padding-bottom: 120px;
}

.container {
    width: 100%;
    height: 100%;
    /* height: 678px; */
    /* height: 100%; */
    background-image: url(../img/background-footer.png);
    background-size: cover;
}


.title-contact {
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 35px;
    padding: 110px 0 25px;
    color: #ffffff;
}

.forms {
    width: 940px;
    margin: 0 auto 30px;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
}

.input-position {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;

}

.contact-forms {
    width: 455px;
}

.contact-info-form {
    width: 100%;
    height: 50px;
    border: none;
    margin-right: 30px;
    margin-bottom: 28px;
    padding: 20px;
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 14px;
    color: #bbbbbb;
}

.contact-info-form:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.contact-info-form:valid {
    outline: #17e25b solid;
}

.contact-info-form:invalid {
    outline: #f5384e solid;
}

.textarea {
    height: 100%;
    resize: none;
}

button {
    margin-bottom: 114px;
    /* width: 240px; */
    padding: 26px 46px;
    border: none; 
    background-color: #fed136;
    border-radius: 5px;
    cursor: pointer;
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
} 

.button-position {
    display: flex;
    justify-content: center;
}
