.main-background {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dpx) {
    .main-background {
        background-image: url(../images/background@2x.jpg);
    }
}