.team-section {
    margin: 0;
}

.team-section__text {
    text-align: center;
    font-size: 14px;
    font-family: $second-font-stack;
    font-style: normal;
    font-weight: 400;
    color: $main-grey-color;
    padding: 0 112px 94px 112px;
}