html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
}

.top-background {
    background-image: url(../img/mobile-background.jpg);
    background-size: cover;
    /* margin-bottom: 70px; */
}

/* LINKS */
.log-in, .sign, .logo {
    display: block; 
    text-decoration: none;
    cursor: pointer;
}

.log-sign-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in {
    padding-right: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    border: 2px solid rgba(255,255,255,0);
    padding: 10px 19px;
    border-radius: 30px;
}

.log-in:hover {
    border: 2px solid rgba(255,255,255,1);
}

.sign {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    border: 2px solid rgba(255,255,255,0);
    padding: 10px 19px;
    border-radius: 30px;
}

.sign:hover {
    border: 2px solid rgba(255,255,255,1);
}

/* HEADLINE SECTION */

h1 {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

.h2-top-headline {
    /* padding: 0 50px 20px 50px; */
    color: #ffffff;
    text-align: center;
    /* font-size: 18px; */
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.headline-section-link {
    display: inline-block;
    border: 1px solid #ff4e50;
    background-color: #ff4e50;
    border-radius: 30px;
    text-decoration: none;
    color:#ffffff;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

.headline-section-link-position {
    display: flex;
    justify-content: center;
}


/* PARTNERS-SECTION */

.partners-headline {
    color: #333333;
    font-size: 22px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-align: center;
}

.cards-names {
    text-align: center;
    padding: 22px 0 18px 0;
    color: #333333;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

.partners-description {
    text-align: center;
    color: #666666;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.bottom-link {
    border: 2px solid #ff4e50;
    border-radius: 30px;
    text-decoration: none;
    color:#ff4e50;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.bottom-link-position {
    display: flex;
    justify-content: center;
    /* margin-bottom: 56px; */
}

section {
    padding-bottom: 56px;
}

/* PHOTOES */

.cards-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
}

.photo-wrapper::before {
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 5px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.first-icon::before {
    background-image: url(../img/tv.png);
    background-color: #ff4e50;
}

.second-icon::before {
    background-image: url(../img/bottle.png);
    background-color: #ffa507;
}
.third-icon::before {
    background-image: url(../img/cup.png);
    background-color: #1cd7ad;
}
.fourth-icon::before {
    background-image: url(../img/telegram.png);
    background-color: #4e73db;
}

.cards-position {
    display: flex;
    justify-content: center;
}


/* MEDIA-MEDIA-MEDIA */


@media (max-width: 767px) {
    .top-background {
        margin-bottom: 70px;
    }

    .log-sign-position {
        padding-bottom: 118px;
        padding-top: 20px;
    }

    .logo {
        display: flex;
        justify-content: center;
        padding-bottom: 38px;
    }
    
    h1 {
        /* padding: 0 10px 20px 10px; */
        margin-bottom: 20px;
        padding-right: 10px;
        font-size: 30px;
        width: 294px;
    }

    .h2-top-headline {
        padding: 0 50px 20px 50px;
        font-size: 18px;
    }

    .headline-section-link {
        padding: 12px 50px;
    }

    .headline-section {
        padding-bottom: 140px;
    }

    .partners-headline {
        margin-bottom: 19px;
    }

    .partners-description {
        padding: 0 55px 30px 55px;
    }

    .bottom-link {
        padding: 12px 72px;
    }

}

@media (min-width: 768px) {
    .top-background {
        background-image: url(../img/tablet.jpg);
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 38px 0 152px;
    }
 
    .logo-wrapper {
        padding-right: 338px;
    }

    .log-sign-position {
        padding-right: 50px;
    }

    h1 {
        font-size: 52px;
        padding-bottom: 44px;
        width: 532px;
    }

    .h2-top-headline {
        font-size: 24px;
        padding-bottom: 38px;
    }

    .headline-section-link {
        padding: 12px 20px;
    }

    .headline-section {
        padding-bottom: 234px;
    }

    .partners-headline {
        padding: 72px 0 40px 0;
    }

    .cards-size {
        width: 236px;
        height: auto;
    }

    .partners-description {
        padding: 0 12px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 40px;
        width: 492px;
        margin: 0 auto;
    }

    .first-card {
        order: 1;
        margin-bottom: 57px;
    }
    .third-card {
        order: 2;
        margin-bottom: 57px;
    }

    .second-card {
        order: 3;
    }

    .fourth-card {
        order: 4;
        transform: translateY(-15px);
    }

    .bottom-link {
        padding: 12px 26px;
    }

}

@media (min-width: 1020px) {

    .top-background {
        background-image: url(../img/desktop-background.png);
    }

    .logo-wrapper {
        padding-right: 600px;
    }

    .second-card {
        transform: translateY(-15px);
    }

    .fourth-card {
        transform: translateY(-30px);
    }

    .cards {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
    }

    h1 {
        width: 620px;
        padding-bottom: 44px;
    }
}