// @mixin generate-pseudo-icons($baseclass, $list, $path, $ext) {
//   @each $icon in $list {
//     .#{$baseclass}#{$icon}::before {
//       background-image: url(#{$path}#{$icon}.#{$ext});

//       @media (min-resolution: 192dpi),
//       min-resolution: 2ddpx) {
//         background-image: url(#{$path}#{$icon}@2px.#{$ext});
//       }
//     }
//   }
// }