html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

.container {
    width: 1600px;
    /* max-width: 100%; */
}

.wrapper {
    width: 1110px;
    /* margin: 0 auto; */
    margin: 0 245px;
}

/* HEADER */

.nav li,
.nav-link {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

.logo,
.menu {
    display: inline-block;
    /* vertical-align: middle; */
    padding: 36px 0;
}

li:not(:last-child) {
    margin-right: 32px;
}

.logo {
    margin-right: 516px;
    vertical-align: middle;
}

.menu a:hover,
.menu a:focus {
    color: #1abc9c;
}

/* .logo {
    padding-top: 38px;
} */

/* MAIN */

.main {
    height: 600px;
    background-image: url(../img/background.png);
    width: 1600px;

}

.slider {
    height: 600px;
    position: relative;
}

button {
    background-color: rgb(78, 198, 171);
    opacity: 0.651;
    width: 104px;
    height: 104px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.button-back {
    left: 0;
}

.button-forward {
    right: 0;
}

.text-info {
    width: 730px;
    height: 600px;
    margin: 0 auto;
    /* text-align: center; */
    padding-top: 230px;
}

.main-title {
    font-size: 50px;
    font-weight: bold;
    font-family: "Roboto";
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.sub-title {
    font-size: 20px;
    font-family: "Roboto";
    color: #ffffff;
    text-transform: uppercase;
}

/* ITEMS */

.items {
    height: 676px;
    background: #e9f0fd;
    font-size: 0;
}

.item-title {
    font-size: 42px;
    font-family: "Roboto";
    color: #515151;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 98px;
    margin-bottom: 100px;
}

.item-title::after {
    display: block;
    content: url(../img/undeline.png);
}

.cards {
    display: inline-block;
    position: relative;
}

.cards:not(:last-child) {
    margin-right: 30px;
}

.item-name {
    background: #323232;
    width: 200px;
    left: 0;
}

.price {
    background: rgba(50, 50, 50, 0.5);
    width: 55px;
    right: 0;
}

.by-line {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 40px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.hover-buttons-menu {
    display: block;
    width: 236px;
    height: 260px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.icons-position {
    position: absolute;
    top: 70px;
    left: -20px;
}

.hover-buttons-menu li {
    display: inline-block;
    margin: 8px;
}

.hover-buttons-menu a {
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255);
}

li .basket {
    width: 172px;
}

.basket {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    font-weight: lighter;
    padding: 16px 14px 18px 60px;
    text-decoration: none;
    font-family: "Roboto";
}

.like-icon {
    background-image: url(../img/heart.png);
    background-repeat: no-repeat;
    background-position: center;
}

.change-icon {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.clock-icon {
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
}

.basket-icon {
    background-image: url(../img/basket.png);
    background-repeat: no-repeat;
    background-position: 15% 35%;
}


/* HOVER */

.cards:hover .item-name {
    background: #1abc9c;
}

.cards:hover .price {
    background: rgba(26, 188, 156, 0.5);
}

.hover-buttons-menu {
    display: none;
}

.cards:hover>.hover-buttons-menu {
    display: block;
}

.like-icon:hover {
    background: #1abc9c;
    border: none;
    background-image: url(../img/heart.png);
    background-repeat: no-repeat;
    background-position: center;
}

.change-icon:hover {
    background: #1abc9c;
    border: none;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.clock-icon:hover {
    background: #1abc9c;
    border: none;
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
}

.basket-icon:hover {
    background: #323232;
    background-image: url(../img/basket.png);
    background-repeat: no-repeat;
    background-position: 15% 35%;
}

/* FOTTER */

footer {
    height: 88px;
    background: #323232;
}

footer p,
.footer-link {
    color: rgb(255, 255, 255);
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    /* transform: translateY(180%); */
    font-family: "Roboto";
    text-decoration: none;
    padding-top: 36px;
}

.footer-link:hover {
    color: #45b8a3;
}