// FONT
$main-font-stack: 'Montserrat', sans-serif;
$subtitle-font: 'Kaushan Script';
$second-font-stack: 'Roboto', sans-serif;

// COLOR
$main-white-color: #ffffff;
$main-grey-color: #999999;
$secondary-main-color: #333333;
$orange-color: #fce38a;
$orange-after-color: #f38181;
$blue-color: #95e1d3;