html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit; /*наследуй*/
}

.container {
    width: 1646 px;
}

.wrapper {
    width: 1110px;
    margin: auto;
}

/* HEADER */

.logo, a, .img_name {
    text-transform: uppercase;
    text-decoration: none;
}

.logo {
    color: #8c8c8c;
    font-size: 30px;
    padding: 36px 0 0 30px;
    display: block;
    float: left;
}

.logo::first-letter {
    color: #1abc9c;
    font-weight: bold;
}

ul {
    float: right;
    padding-top: 28px;
}

li {
    float: left;
    padding-right: 36px;
    list-style: none;
}

li:last-child {
    padding-right: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

a {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

a:hover {
    color: #1abc9c;
}

/* TITLE */

.gallery {
    padding-top: 132px;
}

.title_main {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #515151;
    margin-bottom: 132px;
}

  .title_main::after {
    content: '';
    background-color: rgb(26, 188, 156);
    position: absolute;
    left: 670px;
    top: 230px;
    width: 164px;
    height: 7px;
    /* z-index: 109; */
}

/* FEATURED */

.block {
    display: block;
    margin-bottom: 30px;
}

.product {
    width: 255px;
    height: auto;
    float: left;
    margin-right: 30px;
    font-size: 0;
}

.product:nth-child(4n) {
    margin-right: 0;
}

.img_name {
    display: inline-block;
    width: 204px;
    height: 40px;
    padding: 10px 0 0 10px;
    background-color: #323232;
    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.price {
    display: inline-block;
    width: 50px;
    height: 40px;
    background-color: rgba(50, 50, 50, 0.5);;
    color: black;
    font-size: 18px;
    padding: 10px 0 0 10px;
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product:hover .img_name {
    background-color: #1abc9c;
}

.product:hover .price {
    /* background-color: #7fd9c7; */
    background-color: rgba(26, 188, 156, 0.5);;
}

.block:nth-child(n+5) {
    margin-bottom: 106px;
}

/* FOOTER */

.title_blog {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #555252;
    margin-bottom: 120px;
}

  .title_blog::after {
    content: '';
    background-color: rgb(78, 198, 171);
    position: absolute;
    left: 670px;
    top: 1290px;
    width: 164px;
    height: 7px;
}

.article {
    width: 350px;
    height: auto;
    float: left;
    margin-right: 30px;
    font-size: 0;
}

.article:last-child {
    margin-right: 0;
}

.heading1, .heading2, .heading3 {
    display: block;
    font-size: 18px;
    color: #555252;
    padding: 20px 0 50px 0;
}

.heading1::after {
    content: '';
    background-color: rgb(78, 198, 171);
    position: absolute;
    left: 185px;
    top: 1730px;
    width: 136px;
    height: 3px;
}

.heading2::after {
    content: '';
    background-color: rgb(78, 198, 171);
    position: absolute;
    left: 564px;
    top: 1730px;
    width: 136px;
    height: 3px;
}

.text {
    display: block;
    font-size: 14px;
    color: #555252;
    padding-bottom: 20px;
}

.heading3::after {
    content: '';
    background-color: rgb(78, 198, 171);
    position: absolute;
    left: 944px;
    top: 1730px;
    width: 136px;
    height: 3px;
}

button {
    border-radius: 3px;
    background-color: #4ec6ab;
    border: none;
    color: white;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 80px;
}

button:hover {
    background-color: rgba(78, 198, 171, 0.5);
}
