.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0 160px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}