.team-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

           &__position {
                position: relative;
            }
}


.team-members__photo-icon {
    width: 380px;
    height: 470px;
    -webkit-transition: -webkit-transform 200ms linear, -webkit-box-shadow 200ms linear;
    transition: -webkit-transform 200ms linear, -webkit-box-shadow 200ms linear;
    -o-transition: transform 200ms linear, box-shadow 200ms linear;
    transition: transform 200ms linear, box-shadow 200ms linear;
    transition: transform 200ms linear, box-shadow 200ms linear, -webkit-transform 200ms linear, -webkit-box-shadow 200ms linear;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    -webkit-box-shadow: 0 0 0 0 #95e1d3;
            box-shadow: 0 0 0 0 #95e1d3;

            &:hover {
                -webkit-box-shadow: 13px 13px #95e1d3;
                        box-shadow: 13px 13px #95e1d3;
                width: 380px;
                height: 470px;
                -webkit-transform: translate(-3%, -3%);
                    -ms-transform: translate(-3%, -3%);
                        transform: translate(-3%, -3%);
                display: block;
            }

            &::before {
                content: '';
                width: 380px;
                height: 470px;
                position: absolute;
                top: 0;
                opacity: 0;
                transition: opacity 200ms linear;
                background-image: linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
                background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
            }
            
            &:hover::before {
                opacity: 0.7;
            }
            
}

.team-members__name {
    text-transform: uppercase;
    text-align: center;
    font-family: $main-font-stack;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: $secondary-main-color;
    padding-top: 30px;
}

.team-members__job-position {
    font-style: italic;
    text-align: center;
    font-family: $second-font-stack;
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
    color: $main-grey-color;
    padding: 16px 0 82px 0;
}